.normal-wrapper {
  background: yellow;
}
.float-left {
  float: left;
  background: red;
  height: 200px;
}
.overflow-wrapper {
  background: orange;
  overflow: auto;
}
.inline-block-wrapper {
  display: inline-block;
  background: yellowgreen;
}
.blue,
.red-inner {
  height: 50px;
  margin: 10px 0;
}

.blue {
  background: blue;
}

.red-inner {
  background-color: red;
}
.red-outer {
  overflow: hidden;
  /* background: red; */
}
